.banner{
    background-image: url("../img/system.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}
.menu{
    background-color: rgb(43, 0, 0);
}
